body {
  background-color: #6f756f;
  background-image: url(a1f5072f4493858933b4bc48f8bf1dc0.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #415d86;
  color: #fff;
  font-size: 1.8em; }

