.display{
    grid-column: span 4;
    background-color: rgb(19, 18, 18);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    font-size: 2.1em;
    overflow: hidden;
}